<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/form.css" />
    <title>Insert form</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (!isAuthenticated) { %>
        <li class="link">
          <a href="/movies/login">Sign in</a>
        </li>
        <li class="link">
          <a href="/movies/signup">Signup</a>
        </li>
        <% } else { %>

        <form action="/movies/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn">log out</button>
        </form>

        <% } %>
      </ul>
    </nav>
    <div class="top-container">
      <a href="/movies"> <button class="btn">Back to the list</button></a>
      <h1 class="title">Add a new movie</h1>
    </div>

    <form action="" class="form-container" method="post">
      <div class="grid-1">
        <label for="" class="label">Title</label>
        <input type="text" name="title" placeholder="Title" />
        <label for="" class="label">Image</label>
        <input type="text" name="image" placeholder="Enter a URL" />
        <label for="" class="label">Plot</label>
        <textarea type="text" name="plot"></textarea>
      </div>
      <div class="grid-2">
        <label for="" class="label">Year</label>
        <input type="number" name="year" placeholder="Year" />
        <label for="" class="label">Director</label>
        <input type="text" name="director" placeholder="Director" />
        <label for="" class="label">imdb Rating</label>
        <input type="number" name="rating" placeholder="Rating" />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <a href="/movies"
        ><button id="submit-form" type="submit" class="btn">Submit</button></a
      >
      <p class="success" id="text-success">New movie was added successfully!</p>
    </form>

    <script></script>
  </body>
</html>
