  <%- include('./head.ejs') %>
<link rel="stylesheet" type="text/css"href="/form.css">
  </head>
  <body>
    
    <div class="top-container">
      <a href="/movies" class="return-link"> <button class="btn-return">Back to the list</button></a>
      <h1 class="title">Add a new movie</h1>
    </div>

    <form action="" class="form-container" method="post">
      <div class="grid-1">
        <label for="" class="label">Title</label>
        <input type="text" name="title" placeholder="Title" />
        <label for="" class="label">Image</label>
        <input type="text" name="image" placeholder="Enter a URL" />
        <label for="" class="label">Plot</label>
        <textarea type="text" name="plot"></textarea>
      </div>
      <div class="grid-2">
        <label for="" class="label">Year</label>
        <input type="number" name="year" placeholder="Year" />
        <label for="" class="label">Director</label>
        <input type="text" name="director" placeholder="Director" />
        <label for="" class="label">imdb Rating</label>
        <input type="number" name="rating" placeholder="Rating" />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <a href="/movies"
        ><button id="submit-form" type="submit" class="btn">Submit</button></a
      >
      <p class="success" id="text-success">New movie was added successfully!</p>
    </form>

    <script></script>
  </body>
</html>
